<!-- map start -->
<div class="map">
  <iframe
    src="https://www.google.com/maps/place/Islamic+complex+bashorun+market/@7.4179857,3.9337931,15z/data=!4m6!3m5!1s0x103993b0fd93d58f:0x423ae34a7513566c!8m2!3d7.4179857!4d3.9337931!16s%2Fg%2F11t65j1hwh?entry=ttu&g_ep=EgoyMDI0MTEyNC4xIKXMDSoASAFQAw%3D%3D"
  ></iframe>
</div>
<!-- map end -->
<!-- contact-section satrt -->
<section class="contact-section pt-80 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 mb-30">
        <!--  contact page side content  -->
        <div class="contact-page-side-content">
          <h3 class="contact-page-title">Contact Us</h3>
          <p class="contact-page-message mb-30">
            Pelz Secret, located in the vibrant city of Ibadan, Nigeria, is your
            premiere destination for luxurious skincare and beauty products. Our
            mission is to empower individuals by enhancing their natural beauty
            through high-quality, effective solutions. We pride ourselves on
            offering a diverse range of products that cater to all skin types
            and needs, ensuring everyone can unlock the secret to radiant,
            healthy skin.
          </p>
          <!--  single contact block  -->

          <div class="single-contact-block">
            <h4><i class="fa fa-fax"></i> Address</h4>
            <p>
              Shop 15 block B, Islamic Shopping Complex, Bashorun Ibadan –
              Nigeria
            </p>
          </div>

          <!--  End of single contact block -->

          <!--  single contact block -->

          <div class="single-contact-block">
            <h4><i class="fa fa-phone"></i> Phone</h4>
            <p>
              <a href="tel:07011989291">Mobile: (07) 011 989 291</a>
            </p>
          </div>

          <!-- End of single contact block -->

          <!--  single contact block -->

          <div class="single-contact-block">
            <h4><i class="fas fa-envelope"></i> Email</h4>
            <p>
              <a href="mailto:yourmail@domain.com">yourmail@domain.com</a>
            </p>
            <p>
              <a href="mailto:support@hastech.company">pelzsecret@gmail.com</a>
            </p>
          </div>

          <!--=======  End of single contact block  =======-->
        </div>

        <!--=======  End of contact page side content  =======-->
      </div>
      <div class="col-lg-6 col-12 mb-30">
        <!--  contact form content -->
        <div class="contact-form-content">
          <h3 class="contact-page-title">Tell Us Your Message</h3>
          <div class="contact-form">
            <form
              id="contact-form"
              action="assets/php/contact.php"
              method="POST"
            >
              <div class="form-group">
                <label>Your Name <span class="required">*</span></label>
                <input type="text" name="name" id="name" />
              </div>
              <div class="form-group">
                <label>Your Email <span class="required">*</span></label>
                <input type="email" name="email" id="email" />
              </div>
              <div class="form-group">
                <label>Subject</label>
                <input type="text" name="subject" id="subject" />
              </div>
              <div class="form-group">
                <label>Your Message</label>
                <textarea
                  name="contactMessage"
                  class="pb-10"
                  id="contactMessage"
                ></textarea>
              </div>
              <div class="form-group mb-0">
                <button
                  type="submit"
                  value="submit"
                  id="submit"
                  class="btn btn-dark btn--lg"
                  name="submit"
                >
                  submit
                </button>
              </div>
            </form>
          </div>
          <p class="form-message mt-10"></p>
        </div>
        <!-- End of contact -->
      </div>
    </div>
  </div>
</section>
<!-- contact-section end -->
