<!-- main slider start -->
<section class="bg-light">
  <div class="main-slider dots-style theme1">
    <div class="slider-item bg-img bg-img1">
      <div class="container">
        <div class="row align-items-center slider-height">
          <div class="col-12">
            <div class="slider-content">
              <p
                class="text animated"
                data-animation-in="fadeInDown"
                data-delay-in=".300"
              >
                Glow Naturally With
              </p>
              <h2 class="title animated">
                <span
                  class="animated d-block"
                  data-animation-in="fadeInLeft"
                  data-delay-in=".800"
                  >Ibadan's Finest</span
                >
                <span
                  class="animated font-weight-bold"
                  data-animation-in="fadeInRight"
                  data-delay-in="1.5"
                  >skincare Brand</span
                >
              </h2>
              <a
                href="facial"
                class="btn btn-outline-primary btn--lg animated mt-45 mt-sm-25"
                data-animation-in="fadeInLeft"
                data-delay-in="1.9"
                >Shop now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- slider-item end -->

    <div class="slider-item bg-img bg-img2">
      <div class="container">
        <div class="row align-items-center slider-height">
          <div class="col-12">
            <div class="slider-content">
              <p
                class="text animated"
                data-animation-in="fadeInLeft"
                data-delay-in=".300"
              >
                Get a Glowing Body
              </p>

              <h2 class="title">
                <span
                  class="animated d-block"
                  data-animation-in="fadeInRight"
                  data-delay-in=".800"
                  >Body Scrub</span
                >
                <span
                  class="animated font-weight-bold"
                  data-animation-in="fadeInUp"
                  data-delay-in="1.5"
                  >Sale 40% Off</span
                >
              </h2>
              <a
                href="body"
                class="btn btn-outline-primary btn--lg animated mt-45 mt-sm-25"
                data-animation-in="fadeInLeft"
                data-delay-in="1.9"
                >Shop now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- slider-item end -->

    <div class="slider-item bg-img bg-img3">
      <div class="container">
        <div class="row align-items-center slider-height">
          <div class="col-12">
            <div class="slider-content">
              <p
                class="text animated"
                data-animation-in="fadeInLeft"
                data-delay-in=".300"
              >
                Stunning Body
              </p>
              <h2 class="title">
                <span
                  class="animated d-block"
                  data-animation-in="fadeInRight"
                  data-delay-in=".800"
                  >Body Lotion & Oil</span
                >
                <span
                  class="animated font-weight-bold"
                  data-animation-in="fadeInUp"
                  data-delay-in="1.5"
                  >Sale 60% Off</span
                >
              </h2>
              <a
                href="body"
                class="btn btn-outline-primary btn--lg animated mt-45 mt-sm-25"
                data-animation-in="fadeInLeft"
                data-delay-in="1.9"
                >Shop now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- slider-item end -->
  </div>
</section>
<!-- main slider end -->

<!-- staic media start -->
<section class="static-media-section py-80 bg-white">
  <div class="container">
    <div class="static-media-wrap theme-bg">
      <div class="row">
        <div class="col-lg-3 col-sm-6 py-3">
          <div class="d-flex static-media2 flex-column flex-sm-row">
            <img
              class="align-self-center mb-2 mb-sm-0 me-auto me-sm-3"
              src="assets/img/icon/2.png"
              alt="icon"
            />
            <div class="media-body">
              <h4 class="title">Free Shipping</h4>
              <p class="text">
                On all orders over &#8358;100,000 within Ibadan
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 py-3">
          <div class="d-flex static-media2 flex-column flex-sm-row">
            <img
              class="align-self-center mb-2 mb-sm-0 me-auto me-sm-3"
              src="assets/img/icon/3.png"
              alt="icon"
            />
            <div class="media-body">
              <h4 class="title">Free Returns</h4>
              <p class="text">Returns are free within 48 hours</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 py-3">
          <div class="d-flex static-media2 flex-column flex-sm-row">
            <img
              class="align-self-center mb-2 mb-sm-0 me-auto me-sm-3"
              src="assets/img/icon/4.png"
              alt="icon"
            />
            <div class="media-body">
              <h4 class="title">100% Payment Secure</h4>
              <p class="text">Your payment are safe with us.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 py-3">
          <div class="d-flex static-media2 flex-column flex-sm-row">
            <img
              class="align-self-center mb-2 mb-sm-0 me-auto me-sm-3"
              src="assets/img/icon/5 .png"
              alt="icon"
            />
            <div class="media-body">
              <h4 class="title">Support 24/7</h4>
              <p class="text">Contact us 24 hours a day</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- static media end -->

<!-- common banner  start -->
<div class="common-banner bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-30">
        <div class="banner-thumb">
          <a href="shop-grid-4-column" class="zoom-in d-block overflow-hidden">
            <img src="assets/img/banner/4.jpg" alt="banner-thumb-naile" />
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-30">
        <div class="banner-thumb">
          <a href="shop-grid-4-column" class="zoom-in d-block overflow-hidden">
            <img src="assets/img/banner/5.jpg" alt="banner-thumb-naile" />
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-30">
        <div class="banner-thumb">
          <a href="shop-grid-4-column" class="zoom-in d-block overflow-hidden">
            <img src="assets/img/banner/6.jpg" alt="banner-thumb-naile" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- common banner  end -->

<!-- product tab start -->
<section class="product-tab bg-white pt-50 pb-80">
  <div class="container">
    <div class="product-tab-nav mb-50">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="section-title text-center">
            <h2 class="title pb-3 mb-3">Our products</h2>
            <p class="text">
              Transform Your Skin with Our Effective Body care Products That
              Repair and Rejuvate
            </p>
          </div>
        </div>
        <div class="col-12">
          <nav class="product-tab-menu theme1">
            <ul
              class="nav nav-pills justify-content-center"
              id="pills-tab"
              role="tablist"
            >
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="pills-home-tab"
                  data-bs-toggle="pill"
                  href="#pills-home"
                  role="tab"
                  aria-controls="pills-home"
                  aria-selected="true"
                  >Body Cream & Lotion</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="pills-profile-tab"
                  data-bs-toggle="pill"
                  href="#pills-profile"
                  role="tab"
                  aria-controls="pills-profile"
                  aria-selected="false"
                  >Body Wash & Bar Shop</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="pills-contact-tab"
                  data-bs-toggle="pill"
                  href="#pills-contact"
                  role="tab"
                  aria-controls="pills-contact"
                  aria-selected="false"
                  >Body & Face Wash</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- product-tab-nav end -->

    <div class="row">
      <div class="col-12">
        <div class="tab-content" id="pills-tabContent">
          <!-- first tab-pane -->
          <div
            class="tab-pane fade show active"
            id="pills-home"
            role="tabpanel"
            aria-labelledby="pills-home-tab"
            hx-get="/api/v1/products/category/lotion"
            hx-trigger="load"
            hx-target="#body-cream"
            hx-swap="outerHTML"
          >
            <div id="body-cream">
              <!-- Add Loader Here -->
            </div>
          </div>
          <!-- second tab-pane -->
          <div
            class="tab-pane fade"
            id="pills-profile"
            role="tabpanel"
            aria-labelledby="pills-profile-tab"
            hx-get="/api/v1/products/category/body-wash"
            hx-trigger="load"
            hx-target="#body-wash"
          >
            <div class="product-slider-init theme1 slick-nav">
              <div class="slider-item">
                <div class="card product-card">
                  <div class="card-body p-0">
                    <div class="media flex-column">
                      <div class="product-thumbnail position-relative">
                        <span class="badge badge-danger top-right">New</span>
                        <a href="single-product">
                          <img
                            class="first-img"
                            src="assets/img/product/body wash & bar soap/body wash/dr teal's soothe & sleep wash.jpg"
                            alt="thumbnail"
                          />
                        </a>
                        <!-- product links -->
                        <ul class="actions d-flex justify-content-center">
                          <li>
                            <a class="action" href="wishlist">
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="add to wishlist"
                                class="icon-heart"
                              >
                              </span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="action"
                              href="#"
                              data-bs-toggle="modal"
                              data-bs-target="#compare"
                            >
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="Add to compare"
                                class="icon-shuffle"
                              ></span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="action"
                              href="#"
                              data-bs-toggle="modal"
                              data-bs-target="#quick-view"
                            >
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="Quick view"
                                class="icon-magnifier"
                              ></span>
                            </a>
                          </li>
                        </ul>
                        <!-- product links end-->
                      </div>
                      <div class="media-body">
                        <div class="product-desc">
                          <h3 class="title">
                            <a href="shop"
                              >Dr Teal's Sleep & Soothe Body Wash</a
                            >
                          </h3>
                          <div class="star-rating">
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star de-selected"></span>
                          </div>
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <span class="product-price">&#8358;12,000.00</span>
                            <button
                              class="pro-btn"
                              data-bs-toggle="modal"
                              data-bs-target="#add-to-cart"
                            >
                              <i class="icon-basket"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- slider-item end -->

              <div class="slider-item">
                <div class="card product-card">
                  <div class="card-body p-0">
                    <div class="media flex-column">
                      <div class="product-thumbnail position-relative">
                        <span class="badge badge-danger top-right">New</span>
                        <a href="single-product">
                          <img
                            class="first-img"
                            src="assets/img/product/body wash & bar soap/body wash/sk gluta berry wash.jpg"
                            alt="thumbnail"
                          />
                        </a>
                        <!-- product links -->
                        <ul class="actions d-flex justify-content-center">
                          <li>
                            <a class="action" href="wishlist">
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="add to wishlist"
                                class="icon-heart"
                              >
                              </span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="action"
                              href="#"
                              data-bs-toggle="modal"
                              data-bs-target="#compare"
                            >
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="Add to compare"
                                class="icon-shuffle"
                              ></span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="action"
                              href="#"
                              data-bs-toggle="modal"
                              data-bs-target="#quick-view"
                            >
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="Quick view"
                                class="icon-magnifier"
                              ></span>
                            </a>
                          </li>
                        </ul>
                        <!-- product links end-->
                      </div>
                      <div class="media-body">
                        <div class="product-desc">
                          <h3 class="title">
                            <a href="shop">SK Gluta Berry Body Wash</a>
                          </h3>
                          <div class="star-rating">
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star de-selected"></span>
                          </div>
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <span class="product-price">&#8358;13,500.00</span>
                            <button
                              class="pro-btn"
                              data-bs-toggle="modal"
                              data-bs-target="#add-to-cart"
                            >
                              <i class="icon-basket"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- slider-item end -->

              <div class="slider-item">
                <div class="card product-card">
                  <div class="card-body p-0">
                    <div class="media flex-column">
                      <div class="product-thumbnail position-relative">
                        <span class="badge badge-danger top-right">New</span>
                        <a href="single-product">
                          <img
                            class="first-img"
                            src="assets/img/product/body wash & bar soap/body wash/snap chat wash.jpg"
                            alt="thumbnail"
                          />
                        </a>
                        <!-- product links -->
                        <ul class="actions d-flex justify-content-center">
                          <li>
                            <a class="action" href="wishlist">
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="add to wishlist"
                                class="icon-heart"
                              >
                              </span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="action"
                              href="#"
                              data-bs-toggle="modal"
                              data-bs-target="#compare"
                            >
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="Add to compare"
                                class="icon-shuffle"
                              ></span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="action"
                              href="#"
                              data-bs-toggle="modal"
                              data-bs-target="#quick-view"
                            >
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="Quick view"
                                class="icon-magnifier"
                              ></span>
                            </a>
                          </li>
                        </ul>
                        <!-- product links end-->
                      </div>
                      <div class="media-body">
                        <div class="product-desc">
                          <h3 class="title">
                            <a href="shop">Snapchat Lait Beauty Body Wash</a>
                          </h3>
                          <div class="star-rating">
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star de-selected"></span>
                          </div>
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <span class="product-price">&#8358;18,000.00</span>
                            <button
                              class="pro-btn"
                              data-bs-toggle="modal"
                              data-bs-target="#add-to-cart"
                            >
                              <i class="icon-basket"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- slider-item end -->

              <div class="slider-item">
                <div class="card product-card">
                  <div class="card-body p-0">
                    <div class="media flex-column">
                      <div class="product-thumbnail position-relative">
                        <span class="badge badge-danger top-right">New</span>
                        <a href="single-product">
                          <img
                            class="first-img"
                            src="assets/img/product/body wash & bar soap/body wash/sk body wash.jpg"
                            alt="thumbnail"
                          />
                        </a>
                        <!-- product links -->
                        <ul class="actions d-flex justify-content-center">
                          <li>
                            <a class="action" href="wishlist">
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="add to wishlist"
                                class="icon-heart"
                              >
                              </span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="action"
                              href="#"
                              data-bs-toggle="modal"
                              data-bs-target="#compare"
                            >
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="Add to compare"
                                class="icon-shuffle"
                              ></span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="action"
                              href="#"
                              data-bs-toggle="modal"
                              data-bs-target="#quick-view"
                            >
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="Quick view"
                                class="icon-magnifier"
                              ></span>
                            </a>
                          </li>
                        </ul>
                        <!-- product links end-->
                      </div>
                      <div class="media-body">
                        <div class="product-desc">
                          <h3 class="title">
                            <a href="shop">SK whitening Shower Gel</a>
                          </h3>
                          <div class="star-rating">
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star de-selected"></span>
                          </div>
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <span class="product-price">&#8358;13,500.00</span>
                            <button
                              class="pro-btn"
                              data-bs-toggle="modal"
                              data-bs-target="#add-to-cart"
                            >
                              <i class="icon-basket"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- slider-item end -->

              <div class="slider-item">
                <div class="card product-card">
                  <div class="card-body p-0">
                    <div class="media flex-column">
                      <div class="product-thumbnail position-relative">
                        <span class="badge badge-danger top-right">New</span>
                        <a href="single-product">
                          <img
                            class="first-img"
                            src="assets/img/product/body wash & bar soap/body wash/purest glow vit c & collagen wash.jpg"
                            alt="thumbnail"
                          />
                          <img
                            class="second-img"
                            src="assets/img/product/body wash & bar soap/body wash/purest glow wash.jpg"
                            alt="thumbnail"
                          />
                        </a>
                        <!-- product links -->
                        <ul class="actions d-flex justify-content-center">
                          <li>
                            <a class="action" href="wishlist">
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="add to wishlist"
                                class="icon-heart"
                              >
                              </span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="action"
                              href="#"
                              data-bs-toggle="modal"
                              data-bs-target="#compare"
                            >
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="Add to compare"
                                class="icon-shuffle"
                              ></span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="action"
                              href="#"
                              data-bs-toggle="modal"
                              data-bs-target="#quick-view"
                            >
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="Quick view"
                                class="icon-magnifier"
                              ></span>
                            </a>
                          </li>
                        </ul>
                        <!-- product links end-->
                      </div>
                      <div class="media-body">
                        <div class="product-desc">
                          <h3 class="title">
                            <a href="shop">Purest Glow Vit C & Collagen Wash</a>
                          </h3>
                          <div class="star-rating">
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star de-selected"></span>
                          </div>
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <span class="product-price">&#8358;13,500.00</span>
                            <button
                              class="pro-btn"
                              data-bs-toggle="modal"
                              data-bs-target="#add-to-cart"
                            >
                              <i class="icon-basket"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- slider-item end -->
            </div>
          </div>
          <!-- third tab-pane -->
          <div
            class="tab-pane fade"
            id="pills-contact"
            role="tabpanel"
            aria-labelledby="pills-contact-tab"
          >
            <div class="product-slider-init theme1 slick-nav">
              <div class="slider-item">
                <div class="card product-card">
                  <div class="card-body p-0">
                    <div class="media flex-column">
                      <div class="product-thumbnail position-relative">
                        <span class="badge badge-danger top-right">New</span>
                        <a href="single-product">
                          <img
                            class="first-img"
                            src="assets/img/product/body oil/morocan strechmark oil.jpg"
                            alt="thumbnail"
                          />
                        </a>
                        <!-- product links -->
                        <ul class="actions d-flex justify-content-center">
                          <li>
                            <a class="action" href="wishlist">
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="add to wishlist"
                                class="icon-heart"
                              >
                              </span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="action"
                              href="#"
                              data-bs-toggle="modal"
                              data-bs-target="#compare"
                            >
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="Add to compare"
                                class="icon-shuffle"
                              ></span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="action"
                              href="#"
                              data-bs-toggle="modal"
                              data-bs-target="#quick-view"
                            >
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="Quick view"
                                class="icon-magnifier"
                              ></span>
                            </a>
                          </li>
                        </ul>
                        <!-- product links end-->
                      </div>
                      <div class="media-body">
                        <div class="product-desc">
                          <h3 class="title">
                            <a href="shop">Moroccan Argan Stretchmark Oil</a>
                          </h3>
                          <div class="star-rating">
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star de-selected"></span>
                          </div>
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <span class="product-price">&#8358;7,500.00</span>
                            <button
                              class="pro-btn"
                              data-bs-toggle="modal"
                              data-bs-target="#add-to-cart"
                            >
                              <i class="icon-basket"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- slider-item end -->

              <div class="slider-item">
                <div class="card product-card">
                  <div class="card-body p-0">
                    <div class="media flex-column">
                      <div class="product-thumbnail position-relative">
                        <span class="badge badge-danger top-right">New</span>
                        <a href="single-product">
                          <img
                            class="first-img"
                            src="assets/img/product/body oil/tera veet oil.jpg"
                            alt="thumbnail"
                          />
                        </a>
                        <!-- product links -->
                        <ul class="actions d-flex justify-content-center">
                          <li>
                            <a class="action" href="wishlist">
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="add to wishlist"
                                class="icon-heart"
                              >
                              </span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="action"
                              href="#"
                              data-bs-toggle="modal"
                              data-bs-target="#compare"
                            >
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="Add to compare"
                                class="icon-shuffle"
                              ></span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="action"
                              href="#"
                              data-bs-toggle="modal"
                              data-bs-target="#quick-view"
                            >
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="Quick view"
                                class="icon-magnifier"
                              ></span>
                            </a>
                          </li>
                        </ul>
                        <!-- product links end-->
                      </div>
                      <div class="media-body">
                        <div class="product-desc">
                          <h3 class="title">
                            <a href="shop">Tara Vet Stretchmark Oil</a>
                          </h3>
                          <div class="star-rating">
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star de-selected"></span>
                          </div>
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <span class="product-price">&#8358;8,500.00</span>
                            <button
                              class="pro-btn"
                              data-bs-toggle="modal"
                              data-bs-target="#add-to-cart"
                            >
                              <i class="icon-basket"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- slider-item end -->

              <div class="slider-item">
                <div class="card product-card">
                  <div class="card-body p-0">
                    <div class="media flex-column">
                      <div class="product-thumbnail position-relative">
                        <span class="badge badge-danger top-right">New</span>
                        <a href="single-product">
                          <img
                            class="first-img"
                            src="assets/img/product/body oil/dr teal's oil.jpg"
                            alt="thumbnail"
                          />
                        </a>
                        <!-- product links -->
                        <ul class="actions d-flex justify-content-center">
                          <li>
                            <a class="action" href="wishlist">
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="add to wishlist"
                                class="icon-heart"
                              >
                              </span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="action"
                              href="#"
                              data-bs-toggle="modal"
                              data-bs-target="#compare"
                            >
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="Add to compare"
                                class="icon-shuffle"
                              ></span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="action"
                              href="#"
                              data-bs-toggle="modal"
                              data-bs-target="#quick-view"
                            >
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="Quick view"
                                class="icon-magnifier"
                              ></span>
                            </a>
                          </li>
                        </ul>
                        <!-- product links end-->
                      </div>
                      <div class="media-body">
                        <div class="product-desc">
                          <h3 class="title">
                            <a href="shop"
                              >Dr Teal's Moisturizing Bath & Body Oil</a
                            >
                          </h3>
                          <div class="star-rating">
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star de-selected"></span>
                          </div>
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <span class="product-price">&#8358;11,000.00</span>
                            <button
                              class="pro-btn"
                              data-bs-toggle="modal"
                              data-bs-target="#add-to-cart"
                            >
                              <i class="icon-basket"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- slider-item end -->

              <div class="slider-item">
                <div class="card product-card">
                  <div class="card-body p-0">
                    <div class="media flex-column">
                      <div class="product-thumbnail position-relative">
                        <span class="badge badge-danger top-right">New</span>
                        <a href="single-product">
                          <img
                            class="first-img"
                            src="assets/img/product/body oil/laverly whitening oil.jpg"
                            alt="thumbnail"
                          />
                        </a>
                        <!-- product links -->
                        <ul class="actions d-flex justify-content-center">
                          <li>
                            <a class="action" href="wishlist">
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="add to wishlist"
                                class="icon-heart"
                              >
                              </span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="action"
                              href="#"
                              data-bs-toggle="modal"
                              data-bs-target="#compare"
                            >
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="Add to compare"
                                class="icon-shuffle"
                              ></span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="action"
                              href="#"
                              data-bs-toggle="modal"
                              data-bs-target="#quick-view"
                            >
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="Quick view"
                                class="icon-magnifier"
                              ></span>
                            </a>
                          </li>
                        </ul>
                        <!-- product links end-->
                      </div>
                      <div class="media-body">
                        <div class="product-desc">
                          <h3 class="title">
                            <a href="shop"
                              >Laverly Whitening Nature Essential OIl</a
                            >
                          </h3>
                          <div class="star-rating">
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star de-selected"></span>
                          </div>
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <span class="product-price">&#8358;12,000.00</span>
                            <button
                              class="pro-btn"
                              data-bs-toggle="modal"
                              data-bs-target="#add-to-cart"
                            >
                              <i class="icon-basket"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- slider-item end -->

              <div class="slider-item">
                <div class="card product-card">
                  <div class="card-body p-0">
                    <div class="media flex-column">
                      <div class="product-thumbnail position-relative">
                        <span class="badge badge-danger top-right">New</span>
                        <a href="single-product">
                          <img
                            class="first-img"
                            src="assets/img/product/body oil/veetgold retinol.jpg"
                            alt="thumbnail"
                          />
                          <img
                            class="second-img"
                            src="assets/img/product/body oil/veetgold whitening oil.jpg"
                            alt="thumbnail"
                          />
                        </a>
                        <!-- product links -->
                        <ul class="actions d-flex justify-content-center">
                          <li>
                            <a class="action" href="wishlist">
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="add to wishlist"
                                class="icon-heart"
                              >
                              </span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="action"
                              href="#"
                              data-bs-toggle="modal"
                              data-bs-target="#compare"
                            >
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="Add to compare"
                                class="icon-shuffle"
                              ></span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="action"
                              href="#"
                              data-bs-toggle="modal"
                              data-bs-target="#quick-view"
                            >
                              <span
                                data-bs-toggle="tooltip"
                                data-placement="bottom"
                                title="Quick view"
                                class="icon-magnifier"
                              ></span>
                            </a>
                          </li>
                        </ul>
                        <!-- product links end-->
                      </div>
                      <div class="media-body">
                        <div class="product-desc">
                          <h3 class="title">
                            <a href="shop">Veetgold Retinol & Whitening Oil</a>
                          </h3>
                          <div class="star-rating">
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star"></span>
                            <span class="ion-ios-star de-selected"></span>
                          </div>
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <span class="product-price">&#8358;15,000.00</span>
                            <button
                              class="pro-btn"
                              data-bs-toggle="modal"
                              data-bs-target="#add-to-cart"
                            >
                              <i class="icon-basket"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- slider-item end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product tab end -->

<!-- common banner  start -->
<div class="common-banner bg-white pb-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-30">
        <div class="banner-thumb">
          <a
            class="zoom-in d-block overflow-hidden position-relative"
            href="shop-grid-4-column"
            ><img src="assets/img/banner/5.jpg" alt="banner-thumb-naile"
          /></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-30">
        <div class="banner-thumb">
          <a
            class="zoom-in d-block overflow-hidden position-relative"
            href="shop-grid-4-column"
          >
            <img src="assets/img/banner/6.jpg" alt="banner-thumb-naile"
          /></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 mb-30">
        <div class="banner-thumb">
          <a
            class="zoom-in d-block overflow-hidden position-relative"
            href="shop-grid-4-column"
          >
            <img src="assets/img/banner/4.jpg" alt="banner-thumb-naile"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- common banner  end -->

<!-- product tab repetation start -->
<section class="bg-white theme1 pb-80">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- section-title start -->
        <div class="section-title text-center">
          <h2 class="title pb-3 mb-3">New Arrival products</h2>
          <p class="text">
            Unlock your Skin Potential with Pelz Secret New Arrival Products
          </p>
        </div>
        <!-- section-title end -->

        <div class="product-slider-init theme1 slick-nav">
          <div class="slider-item">
            <div class="card product-card">
              <div class="card-body p-0">
                <div class="media flex-column">
                  <div class="product-thumbnail position-relative">
                    <span class="badge badge-danger top-right">New</span>
                    <a href="single-product">
                      <img
                        class="first-img"
                        src="assets/img/product/body cream/half cast carrotte.jpg"
                        alt="thumbnail"
                      />
                    </a>
                    <!-- product links -->
                    <ul class="actions d-flex justify-content-center">
                      <li>
                        <a class="action" href="wishlist">
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="add to wishlist"
                            class="icon-heart"
                          >
                          </span>
                        </a>
                      </li>
                      <li>
                        <a
                          class="action"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#compare"
                        >
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="Add to compare"
                            class="icon-shuffle"
                          ></span>
                        </a>
                      </li>
                      <li>
                        <a
                          class="action"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#quick-view"
                        >
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="Quick view"
                            class="icon-magnifier"
                          ></span>
                        </a>
                      </li>
                    </ul>
                    <!-- product links end-->
                  </div>
                  <div class="media-body">
                    <div class="product-desc">
                      <h3 class="title">
                        <a href="shop">Half Cast Carrotte Cream</a>
                      </h3>
                      <div class="star-rating">
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star de-selected"></span>
                      </div>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <span class="product-price">&#8358;18,500.00</span>
                        <button
                          class="pro-btn"
                          data-bs-toggle="modal"
                          data-bs-target="#add-to-cart"
                        >
                          <i class="icon-basket"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- slider-item end -->

          <div class="slider-item">
            <div class="card product-card">
              <div class="card-body p-0">
                <div class="media flex-column">
                  <div class="product-thumbnail position-relative">
                    <span class="badge badge-danger top-right">New</span>
                    <a href="single-product">
                      <img
                        class="first-img"
                        src="assets/img/product/body cream/firm glow white.jpg"
                        alt="thumbnail"
                      />
                    </a>
                    <!-- product links -->
                    <ul class="actions d-flex justify-content-center">
                      <li>
                        <a class="action" href="wishlist">
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="add to wishlist"
                            class="icon-heart"
                          >
                          </span>
                        </a>
                      </li>
                      <li>
                        <a
                          class="action"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#compare"
                        >
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="Add to compare"
                            class="icon-shuffle"
                          ></span>
                        </a>
                      </li>
                      <li>
                        <a
                          class="action"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#quick-view"
                        >
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="Quick view"
                            class="icon-magnifier"
                          ></span>
                        </a>
                      </li>
                    </ul>
                    <!-- product links end-->
                  </div>
                  <div class="media-body">
                    <div class="product-desc">
                      <h3 class="title">
                        <a href="shop">Firm Glow Vitamin C Lotion</a>
                      </h3>
                      <div class="star-rating">
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star de-selected"></span>
                      </div>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <span class="product-price">&#8358;15,000.00</span>
                        <button
                          class="pro-btn"
                          data-bs-toggle="modal"
                          data-bs-target="#add-to-cart"
                        >
                          <i class="icon-basket"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- slider-item end -->

          <div class="slider-item">
            <div class="card product-card">
              <div class="card-body p-0">
                <div class="media flex-column">
                  <div class="product-thumbnail position-relative">
                    <span class="badge badge-danger top-right">New</span>
                    <a href="single-product">
                      <img
                        class="first-img"
                        src="assets/img/product/body cream/firm glow pink.jpg"
                        alt="thumbnail"
                      />
                    </a>
                    <!-- product links -->
                    <ul class="actions d-flex justify-content-center">
                      <li>
                        <a class="action" href="wishlist">
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="add to wishlist"
                            class="icon-heart"
                          >
                          </span>
                        </a>
                      </li>
                      <li>
                        <a
                          class="action"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#compare"
                        >
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="Add to compare"
                            class="icon-shuffle"
                          ></span>
                        </a>
                      </li>
                      <li>
                        <a
                          class="action"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#quick-view"
                        >
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="Quick view"
                            class="icon-magnifier"
                          ></span>
                        </a>
                      </li>
                    </ul>
                    <!-- product links end-->
                  </div>
                  <div class="media-body">
                    <div class="product-desc">
                      <h3 class="title">
                        <a href="shop">Firm Glow Indian Whitening Cream</a>
                      </h3>
                      <div class="star-rating">
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star de-selected"></span>
                      </div>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <span class="product-price">&#8358;15,000.00</span>
                        <button
                          class="pro-btn"
                          data-bs-toggle="modal"
                          data-bs-target="#add-to-cart"
                        >
                          <i class="icon-basket"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- slider-item end -->
          <div class="slider-item">
            <div class="card product-card">
              <div class="card-body p-0">
                <div class="media flex-column">
                  <div class="product-thumbnail position-relative">
                    <span class="badge badge-danger top-right">New</span>
                    <a href="single-product">
                      <img
                        class="first-img"
                        src="assets/img/product/body cream/skin active 50+.jpg"
                        alt="thumbnail"
                      />
                    </a>
                    <!-- product links -->
                    <ul class="actions d-flex justify-content-center">
                      <li>
                        <a class="action" href="wishlist">
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="add to wishlist"
                            class="icon-heart"
                          >
                          </span>
                        </a>
                      </li>
                      <li>
                        <a
                          class="action"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#compare"
                        >
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="Add to compare"
                            class="icon-shuffle"
                          ></span>
                        </a>
                      </li>
                      <li>
                        <a
                          class="action"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#quick-view"
                        >
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="Quick view"
                            class="icon-magnifier"
                          ></span>
                        </a>
                      </li>
                    </ul>
                    <!-- product links end-->
                  </div>
                  <div class="media-body">
                    <div class="product-desc">
                      <h3 class="title">
                        <a href="shop">Skin Active 50+</a>
                      </h3>
                      <div class="star-rating">
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star de-selected"></span>
                      </div>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <span class="product-price">&#8358;15,000.00</span>
                        <button
                          class="pro-btn"
                          data-bs-toggle="modal"
                          data-bs-target="#add-to-cart"
                        >
                          <i class="icon-basket"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- slider-item end -->
          <div class="slider-item">
            <div class="card product-card">
              <div class="card-body p-0">
                <div class="media flex-column">
                  <div class="product-thumbnail position-relative">
                    <span class="badge badge-danger top-right">New</span>
                    <a href="single-product">
                      <img
                        class="first-img"
                        src="assets/img/product/body cream/spotless beauty half cast.jpg"
                        alt="thumbnail"
                      />
                      <img
                        class="second-img"
                        src="assets/img/product/body cream/spotless beauty half cast.jpg"
                        alt="thumbnail"
                      />
                    </a>
                    <!-- product links -->
                    <ul class="actions d-flex justify-content-center">
                      <li>
                        <a class="action" href="wishlist">
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="add to wishlist"
                            class="icon-heart"
                          >
                          </span>
                        </a>
                      </li>
                      <li>
                        <a
                          class="action"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#compare"
                        >
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="Add to compare"
                            class="icon-shuffle"
                          ></span>
                        </a>
                      </li>
                      <li>
                        <a
                          class="action"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#quick-view"
                        >
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="Quick view"
                            class="icon-magnifier"
                          ></span>
                        </a>
                      </li>
                    </ul>
                    <!-- product links end-->
                  </div>
                  <div class="media-body">
                    <div class="product-desc">
                      <h3 class="title">
                        <a href="shop">Spotless Beauty Half Cast Cream</a>
                      </h3>
                      <div class="star-rating">
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star de-selected"></span>
                      </div>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <span class="product-price">&#8358;15,000.00</span>
                        <button
                          class="pro-btn"
                          data-bs-toggle="modal"
                          data-bs-target="#add-to-cart"
                        >
                          <i class="icon-basket"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- slider-item end -->
          <!-- New women's Fresh Faced Trendy cream -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product tab repetation end -->

<!-- brand slider start -->
<div class="brand-slider-section theme1 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="brand-init border-top py-35 slick-nav-brand">
          <div class="slider-item">
            <div class="single-brand">
              <a
                href="https://themeforest.net/user/hastech"
                class="brand-thumb"
              >
                <img src="assets/img/brand/1.png" alt="brand-thumb-nail" />
              </a>
            </div>
          </div>
          <!-- slider-item end -->
          <div class="slider-item">
            <div class="single-brand">
              <a
                href="https://themeforest.net/user/hastech"
                class="brand-thumb"
              >
                <img src="assets/img/brand/2.png" alt="brand-thumb-nail" />
              </a>
            </div>
          </div>
          <!-- slider-item end -->
          <div class="slider-item">
            <div class="single-brand">
              <a
                href="https://themeforest.net/user/hastech"
                class="brand-thumb"
              >
                <img src="assets/img/brand/3.png" alt="brand-thumb-nail" />
              </a>
            </div>
          </div>
          <!-- slider-item end -->
          <div class="slider-item">
            <div class="single-brand">
              <a
                href="https://themeforest.net/user/hastech"
                class="brand-thumb"
              >
                <img src="assets/img/brand/4.png" alt="brand-thumb-nail" />
              </a>
            </div>
          </div>
          <!-- slider-item end -->
          <div class="slider-item">
            <div class="single-brand">
              <a
                href="https://themeforest.net/user/hastech"
                class="brand-thumb"
              >
                <img src="assets/img/brand/5.png" alt="brand-thumb-nail" />
              </a>
            </div>
          </div>
          <!-- slider-item end -->
          <div class="slider-item">
            <div class="single-brand">
              <a
                href="https://themeforest.net/user/hastech"
                class="brand-thumb"
              >
                <img src="assets/img/brand/6.png" alt="brand-thumb-nail" />
              </a>
            </div>
          </div>
          <!-- slider-item end -->
          <div class="slider-item">
            <div class="single-brand">
              <a
                href="https://themeforest.net/user/hastech"
                class="brand-thumb"
              >
                <img src="assets/img/brand/7.png" alt="brand-thumb-nail" />
              </a>
            </div>
          </div>
          <!-- slider-item end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- brand slider end -->
