<!-- product tab start -->
<div class="product-tab bg-white pt-80 pb-80">
  <div class="container">
    <div class="grid-nav-wraper bg-lighten2 mb-30">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 mb-3 mb-md-0">
          <nav class="shop-grid-nav">
            <ul
              class="nav nav-pills align-items-center"
              id="pills-tab"
              role="tablist"
            >
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="pills-home-tab"
                  data-bs-toggle="pill"
                  href="#pills-home"
                  role="tab"
                  aria-controls="pills-home"
                  aria-selected="true"
                >
                  <i class="fa fa-th"></i>
                </a>
              </li>
              <li class="nav-item mr-0">
                <a
                  class="nav-link"
                  id="pills-profile-tab"
                  data-bs-toggle="pill"
                  href="#pills-profile"
                  role="tab"
                  aria-controls="pills-profile"
                  aria-selected="false"
                  ><i class="fa fa-list"></i
                ></a>
              </li>
              <li>
                <span class="total-products text-capitalize"
                  >There are more than 100 products.</span
                >
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-12 col-md-6 position-relative">
          <div class="shop-grid-button d-flex align-items-center">
            <span class="sort-by">Sort by:</span>
            <button
              class="d-flex justify-content-between"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Relevance <span class="ion-android-arrow-dropdown"></span>
            </button>
            <div
              class="dropdown-menu shop-grid-menu"
              aria-labelledby="dropdownMenuButton"
            >
              <a class="dropdown-item" href="#">Relevance</a>
              <a class="dropdown-item" href="#"> Name, A to Z</a>
              <a class="dropdown-item" href="#"> Name, Z to A</a>
              <a class="dropdown-item" href="#"> Price, low to high</a>
              <a class="dropdown-item" href="#"> Price, high to low</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- product-tab-nav end -->
    <div class="tab-content" id="pills-tabContent">
      <!-- first tab-pane -->
      <div
        class="tab-pane fade show active"
        id="pills-home"
        role="tabpanel"
        aria-labelledby="pills-home-tab"
      >
        <div class="row grid-view theme1">
          <div class="col-sm-6 col-md-4 mb-30">
            <div class="card product-card">
              <div class="card-body">
                <div class="product-thumbnail position-relative">
                  <span class="badge badge-danger top-right">New</span>
                  <a href="single-product">
                    <img
                      class="first-img"
                      src="assets/img/product/body cream/niu skin more vitamins.jpg"
                      alt="thumbnail"
                    />
                  </a>
                  <!-- product links -->
                  <ul class="actions d-flex justify-content-center">
                    <li>
                      <a class="action" href="wishlist">
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="add to wishlist"
                          class="icon-heart"
                        >
                        </span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#compare"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Add to compare"
                          class="icon-shuffle"
                        ></span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#quick-view"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Quick view"
                          class="icon-magnifier"
                        ></span>
                      </a>
                    </li>
                  </ul>
                  <!-- product links end-->
                </div>
                <div class="product-desc py-0 px-0">
                  <h3 class="title">
                    <a href="shop"
                      >Niu Skin More Vitamins Extra Radiance Lotion</a
                    >
                  </h3>
                  <div class="star-rating">
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star de-selected"></span>
                  </div>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <span class="product-price">&#8358;9,000.00</span>
                    <button
                      class="pro-btn"
                      data-bs-toggle="modal"
                      data-bs-target="#add-to-cart"
                    >
                      <i class="icon-basket"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- product-list End -->
          </div>
          <div class="col-sm-6 col-md-4 mb-30">
            <div class="card product-card">
              <div class="card-body">
                <div class="product-thumbnail position-relative">
                  <span class="badge badge-success top-left">-10%</span>
                  <span class="badge badge-danger top-right">sale</span>
                  <a href="single-product">
                    <img
                      class="first-img"
                      src="assets/img/product/body cream/cindella.jpg"
                      alt="thumbnail"
                    />
                  </a>
                  <!-- product links -->
                  <ul class="actions d-flex justify-content-center">
                    <li>
                      <a class="action" href="wishlist">
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="add to wishlist"
                          class="icon-heart"
                        >
                        </span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#compare"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Add to compare"
                          class="icon-shuffle"
                        ></span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#quick-view"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Quick view"
                          class="icon-magnifier"
                        ></span>
                      </a>
                    </li>
                  </ul>
                  <!-- product links end-->
                </div>
                <div class="product-desc py-0 px-0">
                  <h3 class="title">
                    <a href="shop"
                      >Cindella Vitamin C & Orange Essence Whitening Lotion</a
                    >
                  </h3>
                  <div class="star-rating">
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star de-selected"></span>
                  </div>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <span class="product-price"
                      ><del class="del">&#8358;16,500.00</del>
                      <span class="onsale">&#8358;15,000.00</span></span
                    >
                    <button
                      class="pro-btn"
                      data-bs-toggle="modal"
                      data-bs-target="#add-to-cart"
                    >
                      <i class="icon-basket"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- product-list End -->
          </div>
          <div class="col-sm-6 col-md-4 mb-30">
            <div class="card product-card">
              <div class="card-body">
                <div class="product-thumbnail position-relative">
                  <span class="badge badge-danger top-right">hot</span>
                  <a href="single-product">
                    <img
                      class="first-img"
                      src="assets/img/product/body cream/ultra glow.jpg"
                      alt="thumbnail"
                    />
                  </a>
                  <!-- product links -->
                  <ul class="actions d-flex justify-content-center">
                    <li>
                      <a class="action" href="wishlist">
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="add to wishlist"
                          class="icon-heart"
                        >
                        </span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#compare"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Add to compare"
                          class="icon-shuffle"
                        ></span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#quick-view"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Quick view"
                          class="icon-magnifier"
                        ></span>
                      </a>
                    </li>
                  </ul>
                  <!-- product links end-->
                </div>
                <div class="product-desc py-0 px-0">
                  <h3 class="title">
                    <a href="shop"
                      >Ultra Glow Glutathione Whitening Body Milk</a
                    >
                  </h3>
                  <div class="star-rating">
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star de-selected"></span>
                  </div>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <span class="product-price">&#8358;15,000.00</span>
                    <button
                      class="pro-btn"
                      data-bs-toggle="modal"
                      data-bs-target="#add-to-cart"
                    >
                      <i class="icon-basket"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- product-list End -->
          </div>
          <div class="col-sm-6 col-md-4 mb-30">
            <div class="card product-card">
              <div class="card-body">
                <div class="product-thumbnail position-relative">
                  <span class="badge badge-danger top-right">featured</span>
                  <a href="single-product">
                    <img
                      class="first-img"
                      src="assets/img/product/body wash & bar soap/body wash/dr teal's soothe & sleep wash.jpg"
                      alt="thumbnail"
                    />
                  </a>
                  <!-- product links -->
                  <ul class="actions d-flex justify-content-center">
                    <li>
                      <a class="action" href="wishlist">
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="add to wishlist"
                          class="icon-heart"
                        >
                        </span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#compare"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Add to compare"
                          class="icon-shuffle"
                        ></span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#quick-view"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Quick view"
                          class="icon-magnifier"
                        ></span>
                      </a>
                    </li>
                  </ul>
                  <!-- product links end-->
                </div>
                <div class="product-desc py-0 px-0">
                  <h3 class="title">
                    <a href="shop">Dr Teal's Sleep & Soothe Body Wash</a>
                  </h3>
                  <div class="star-rating">
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star de-selected"></span>
                  </div>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <span class="product-price">&#8358;12,000.00</span>
                    <button
                      class="pro-btn"
                      data-bs-toggle="modal"
                      data-bs-target="#add-to-cart"
                    >
                      <i class="icon-basket"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 mb-30">
            <div class="card product-card">
              <div class="card-body">
                <div class="product-thumbnail position-relative">
                  <span class="badge badge-danger top-right">New</span>
                  <a href="single-product">
                    <img
                      class="first-img"
                      src="assets/img/product/body wash & bar soap/body wash/sk gluta berry wash.jpg"
                      alt="thumbnail"
                    />
                  </a>
                  <!-- product links -->
                  <ul class="actions d-flex justify-content-center">
                    <li>
                      <a class="action" href="wishlist">
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="add to wishlist"
                          class="icon-heart"
                        >
                        </span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#compare"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Add to compare"
                          class="icon-shuffle"
                        ></span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#quick-view"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Quick view"
                          class="icon-magnifier"
                        ></span>
                      </a>
                    </li>
                  </ul>
                  <!-- product links end-->
                </div>
                <div class="product-desc py-0 px-0">
                  <h3 class="title">
                    <a href="shop">SK Gluta Berry Body Wash</a>
                  </h3>
                  <div class="star-rating">
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star de-selected"></span>
                  </div>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <span class="product-price">&#8358;13,500.00</span>
                    <button
                      class="pro-btn"
                      data-bs-toggle="modal"
                      data-bs-target="#add-to-cart"
                    >
                      <i class="icon-basket"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 mb-30">
            <div class="card product-card">
              <div class="card-body">
                <div class="product-thumbnail position-relative">
                  <span class="badge badge-danger top-right">sale</span>
                  <a href="single-product">
                    <img
                      class="first-img"
                      src="assets/img/product/body wash & bar soap/body wash/snap chat wash.jpg"
                      alt="thumbnail"
                    />
                  </a>
                  <!-- product links -->
                  <ul class="actions d-flex justify-content-center">
                    <li>
                      <a class="action" href="wishlist">
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="add to wishlist"
                          class="icon-heart"
                        >
                        </span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#compare"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Add to compare"
                          class="icon-shuffle"
                        ></span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#quick-view"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Quick view"
                          class="icon-magnifier"
                        ></span>
                      </a>
                    </li>
                  </ul>
                  <!-- product links end-->
                </div>
                <div class="product-desc py-0 px-0">
                  <h3 class="title">
                    <a href="shop">Snapchat Lait Beauty Body Wash</a>
                  </h3>
                  <div class="star-rating">
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star de-selected"></span>
                  </div>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <span class="product-price">&#8358;18,000.00</span>
                    <button
                      class="pro-btn"
                      data-bs-toggle="modal"
                      data-bs-target="#add-to-cart"
                    >
                      <i class="icon-basket"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- product-list End -->
          </div>
          <div class="col-sm-6 col-md-4 mb-30">
            <div class="card product-card">
              <div class="card-body">
                <div class="product-thumbnail position-relative">
                  <span class="badge badge-danger top-right">hot</span>
                  <a href="single-product">
                    <img
                      class="first-img"
                      src="assets/img/product/body wash & bar soap/body wash/sk body wash.jpg"
                      alt="thumbnail"
                    />
                    <img
                      class="second-img"
                      src="assets/img/product/8.png"
                      alt="thumbnail"
                    />
                  </a>
                  <!-- product links -->
                  <ul class="actions d-flex justify-content-center">
                    <li>
                      <a class="action" href="wishlist">
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="add to wishlist"
                          class="icon-heart"
                        >
                        </span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#compare"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Add to compare"
                          class="icon-shuffle"
                        ></span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#quick-view"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Quick view"
                          class="icon-magnifier"
                        ></span>
                      </a>
                    </li>
                  </ul>
                  <!-- product links end-->
                </div>
                <div class="product-desc py-0 px-0">
                  <h3 class="title">
                    <a href="shop">SK whitening Shower Gel</a>
                  </h3>
                  <div class="star-rating">
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star de-selected"></span>
                  </div>

                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <span class="product-price"
                      ><del class="del">&#8358;15,000.00</del>
                      <span class="onsale">&#8358;13,500.00</span></span
                    >
                    <button
                      class="pro-btn"
                      data-bs-toggle="modal"
                      data-bs-target="#add-to-cart"
                    >
                      <i class="icon-basket"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- product-list End -->
          </div>
          <div class="col-sm-6 col-md-4 mb-30">
            <div class="card product-card">
              <div class="card-body">
                <div class="product-thumbnail position-relative">
                  <span class="badge badge-danger top-right">featured</span>
                  <a href="single-product">
                    <img
                      class="first-img"
                      src="assets/img/product/body wash & bar soap/body wash/purest glow vit c & collagen wash.jpg"
                      alt="thumbnail"
                    />
                  </a>
                  <!-- product links -->
                  <ul class="actions d-flex justify-content-center">
                    <li>
                      <a class="action" href="wishlist">
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="add to wishlist"
                          class="icon-heart"
                        >
                        </span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#compare"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Add to compare"
                          class="icon-shuffle"
                        ></span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#quick-view"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Quick view"
                          class="icon-magnifier"
                        ></span>
                      </a>
                    </li>
                  </ul>
                  <!-- product links end-->
                </div>
                <div class="product-desc py-0 px-0">
                  <h3 class="title">
                    <a href="shop">Purest Glow Vit C & Collagen Wash</a>
                  </h3>
                  <div class="star-rating">
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star de-selected"></span>
                  </div>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <span class="product-price">&#8358;13,500.00</span>
                    <button
                      class="pro-btn"
                      data-bs-toggle="modal"
                      data-bs-target="#add-to-cart"
                    >
                      <i class="icon-basket"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- product-list End -->
          </div>
          <div class="col-sm-6 col-md-4 mb-30">
            <div class="card product-card">
              <div class="card-body">
                <div class="product-thumbnail position-relative">
                  <span class="badge badge-danger top-right">sale</span>
                  <a href="single-product">
                    <img
                      class="first-img"
                      src="assets/img/product/body oil/morocan strechmark oil.jpg"
                      alt="thumbnail"
                    />
                    <img
                      class="second-img"
                      src="assets/img/product/body oil/morocan strechmark oil.jpg"
                      alt="thumbnail"
                    />
                  </a>
                  <!-- product links -->
                  <ul class="actions d-flex justify-content-center">
                    <li>
                      <a class="action" href="wishlist">
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="add to wishlist"
                          class="icon-heart"
                        >
                        </span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#compare"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Add to compare"
                          class="icon-shuffle"
                        ></span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#quick-view"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Quick view"
                          class="icon-magnifier"
                        ></span>
                      </a>
                    </li>
                  </ul>
                  <!-- product links end-->
                </div>
                <div class="product-desc py-0 px-0">
                  <h3 class="title">
                    <a href="shop">Moroccan Argan Stretchmark Oil</a>
                  </h3>
                  <div class="star-rating">
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star de-selected"></span>
                  </div>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <span class="product-price">&#8358;7,500.00</span>
                    <button
                      class="pro-btn"
                      data-bs-toggle="modal"
                      data-bs-target="#add-to-cart"
                    >
                      <i class="icon-basket"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- product-list End -->
          </div>
          <div class="col-sm-6 col-md-4 mb-30">
            <div class="card product-card">
              <div class="card-body">
                <div class="product-thumbnail position-relative">
                  <span class="badge badge-danger top-right">New</span>
                  <a href="single-product">
                    <img
                      class="first-img"
                      src="assets/img/product/body oil/tera veet oil.jpg"
                      alt="thumbnail"
                    />
                    <img
                      class="second-img"
                      src="assets/img/product/1.png"
                      alt="thumbnail"
                    />
                  </a>
                  <!-- product links -->
                  <ul class="actions d-flex justify-content-center">
                    <li>
                      <a class="action" href="wishlist">
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="add to wishlist"
                          class="icon-heart"
                        >
                        </span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#compare"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Add to compare"
                          class="icon-shuffle"
                        ></span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#quick-view"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Quick view"
                          class="icon-magnifier"
                        ></span>
                      </a>
                    </li>
                  </ul>
                  <!-- product links end-->
                </div>
                <div class="product-desc py-0 px-0">
                  <h3 class="title">
                    <a href="shop">Tara Vet Stretchmark Oil</a>
                  </h3>
                  <div class="star-rating">
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star de-selected"></span>
                  </div>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <span class="product-price">&#8358;8,500.00</span>
                    <button
                      class="pro-btn"
                      data-bs-toggle="modal"
                      data-bs-target="#add-to-cart"
                    >
                      <i class="icon-basket"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- product-list End -->
          </div>
          <div class="col-sm-6 col-md-4 mb-30">
            <div class="card product-card">
              <div class="card-body">
                <div class="product-thumbnail position-relative">
                  <span class="badge badge-danger top-right">featured</span>
                  <a href="single-product">
                    <img
                      class="first-img"
                      src="assets/img/product/body oil/dr teal's oil.jpg"
                      alt="thumbnail"
                    />
                    <img
                      class="second-img"
                      src="assets/img/product/body oil/dr teal's oil.jpg"
                      alt="thumbnail"
                    />
                  </a>
                  <!-- product links -->
                  <ul class="actions d-flex justify-content-center">
                    <li>
                      <a class="action" href="wishlist">
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="add to wishlist"
                          class="icon-heart"
                        >
                        </span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#compare"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Add to compare"
                          class="icon-shuffle"
                        ></span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#quick-view"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Quick view"
                          class="icon-magnifier"
                        ></span>
                      </a>
                    </li>
                  </ul>
                  <!-- product links end-->
                </div>
                <div class="product-desc py-0 px-0">
                  <h3 class="title">
                    <a href="shop">Dr Teal's Moisturizing Bath & Body Oil</a>
                  </h3>
                  <div class="star-rating">
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star de-selected"></span>
                  </div>

                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <span class="product-price"
                      ><del class="del">&#8358;12,500.00</del>
                      <span class="onsale">&#8358;11,000.00</span></span
                    >
                    <button
                      class="pro-btn"
                      data-bs-toggle="modal"
                      data-bs-target="#add-to-cart"
                    >
                      <i class="icon-basket"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- product-list End -->
          </div>
          <div class="col-sm-6 col-md-4 mb-30">
            <div class="card product-card">
              <div class="card-body">
                <div class="product-thumbnail position-relative">
                  <span class="badge badge-danger top-right">hot</span>
                  <a href="single-product">
                    <img
                      class="first-img"
                      src="assets/img/product/body oil/laverly whitening oil.jpg"
                      alt="thumbnail"
                    />
                    <img
                      class="second-img"
                      src="assets/img/product/body oil/laverly whitening oil.jpg"
                      alt="thumbnail"
                    />
                  </a>
                  <!-- product links -->
                  <ul class="actions d-flex justify-content-center">
                    <li>
                      <a class="action" href="wishlist">
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="add to wishlist"
                          class="icon-heart"
                        >
                        </span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#compare"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Add to compare"
                          class="icon-shuffle"
                        ></span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="action"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#quick-view"
                      >
                        <span
                          data-bs-toggle="tooltip"
                          data-placement="bottom"
                          title="Quick view"
                          class="icon-magnifier"
                        ></span>
                      </a>
                    </li>
                  </ul>
                  <!-- product links end-->
                </div>
                <div class="product-desc py-0 px-0">
                  <h3 class="title">
                    <a href="shop">Laverly Whitening Nature Essential OIl</a>
                  </h3>
                  <div class="star-rating">
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star"></span>
                    <span class="ion-ios-star de-selected"></span>
                  </div>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <span class="product-price">&#8358;12,000.00</span>
                    <button
                      class="pro-btn"
                      data-bs-toggle="modal"
                      data-bs-target="#add-to-cart"
                    >
                      <i class="icon-basket"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- product-list End -->
          </div>
        </div>
      </div>
      <!-- second tab-pane -->
      <div
        class="tab-pane fade"
        id="pills-profile"
        role="tabpanel"
        aria-labelledby="pills-profile-tab"
      >
        <div class="row grid-view-list theme1">
          <div class="col-12 mb-30">
            <div class="card product-card">
              <div class="card-body">
                <div class="media flex-column flex-md-row">
                  <div class="product-thumbnail position-relative">
                    <span class="badge badge-danger top-right">sale</span>
                    <a href="single-product">
                      <img
                        class="first-img"
                        src="assets/img/product/8.png"
                        alt="thumbnail"
                      />
                    </a>
                    <!-- product links -->
                    <ul class="actions d-flex justify-content-center">
                      <li>
                        <a class="action" href="wishlist">
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="add to wishlist"
                            class="icon-heart"
                          >
                          </span>
                        </a>
                      </li>
                      <li>
                        <a
                          class="action"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#compare"
                        >
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="Add to compare"
                            class="icon-shuffle"
                          ></span>
                        </a>
                      </li>
                      <li>
                        <a
                          class="action"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#quick-view"
                        >
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="Quick view"
                            class="icon-magnifier"
                          ></span>
                        </a>
                      </li>
                    </ul>
                    <!-- product links end-->
                  </div>
                  <div class="media-body ps-md-4">
                    <div class="product-desc py-0 px-0">
                      <h3 class="title">
                        <a href="shop-grid-4-column"
                          >All Natural Makeup Beauty Cosmetics...</a
                        >
                      </h3>
                      <div class="star-rating mb-10">
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star de-selected"></span>
                      </div>
                      <span class="product-price">$11.90</span>
                    </div>
                    <ul class="product-list-des">
                      <li>
                        Block out the haters with the fresh adidas® Originals
                        Kaval Windbreaker Face Cream.
                      </li>
                      <li>Part of the Kaval Collection.</li>
                      <li>
                        Regular fit is eased, but not sloppy, and perfect for
                        any activity.
                      </li>
                      <li>
                        Plain-woven Face Cream specifically constructed for
                        freedom of movement.
                      </li>
                    </ul>
                    <div class="availability-list mb-20">
                      <p>Availability: <span>1200 In Stock</span></p>
                    </div>
                    <button
                      class="btn btn-dark btn--xl"
                      data-bs-toggle="modal"
                      data-bs-target="#add-to-cart"
                    >
                      Add to cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- product-list End -->
          </div>
          <div class="col-12 mb-30">
            <div class="card product-card">
              <div class="card-body">
                <div class="media flex-column flex-md-row">
                  <div class="product-thumbnail position-relative">
                    <span class="badge badge-success top-left">-10%</span>
                    <span class="badge badge-danger top-right">New</span>
                    <a href="single-product">
                      <img
                        class="first-img"
                        src="assets/img/product/1.png"
                        alt="thumbnail"
                      />
                    </a>
                    <!-- product links -->
                    <ul class="actions d-flex justify-content-center">
                      <li>
                        <a class="action" href="wishlist">
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="add to wishlist"
                            class="icon-heart"
                          >
                          </span>
                        </a>
                      </li>
                      <li>
                        <a
                          class="action"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#compare"
                        >
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="Add to compare"
                            class="icon-shuffle"
                          ></span>
                        </a>
                      </li>
                      <li>
                        <a
                          class="action"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#quick-view"
                        >
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="Quick view"
                            class="icon-magnifier"
                          ></span>
                        </a>
                      </li>
                    </ul>
                    <!-- product links end-->
                  </div>
                  <div class="media-body ps-md-4">
                    <div class="product-desc py-0 px-0">
                      <h3 class="title">
                        <a href="shop-grid-4-column"
                          >On Trend Makeup and Beauty Cosmetics...</a
                        >
                      </h3>
                      <div class="star-rating mb-10">
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star de-selected"></span>
                      </div>
                      <span class="product-price"
                        ><del class="del">$23.90</del>
                        <span class="onsale">$21.51</span></span
                      >
                    </div>

                    <ul class="product-list-des">
                      <li>
                        Block out the haters with the fresh adidas® Originals
                        Kaval Windbreaker Face Cream.
                      </li>
                      <li>Part of the Kaval Collection.</li>
                      <li>
                        Regular fit is eased, but not sloppy, and perfect for
                        any activity.
                      </li>
                      <li>
                        Plain-woven Face Cream specifically constructed for
                        freedom of movement.
                      </li>
                    </ul>
                    <div class="availability-list mb-20">
                      <p>Availability: <span>1200 In Stock</span></p>
                    </div>
                    <button
                      class="btn btn-dark btn--xl"
                      data-bs-toggle="modal"
                      data-bs-target="#add-to-cart"
                    >
                      Add to cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- product-list End -->
          </div>
          <div class="col-12 mb-30">
            <div class="card product-card">
              <div class="card-body">
                <div class="media flex-column flex-md-row">
                  <div class="product-thumbnail position-relative">
                    <span class="badge badge-danger top-right">featured</span>
                    <a href="single-product">
                      <img
                        class="first-img"
                        src="assets/img/product/2.png"
                        alt="thumbnail"
                      />
                    </a>
                    <!-- product links -->
                    <ul class="actions d-flex justify-content-center">
                      <li>
                        <a class="action" href="wishlist">
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="add to wishlist"
                            class="icon-heart"
                          >
                          </span>
                        </a>
                      </li>
                      <li>
                        <a
                          class="action"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#compare"
                        >
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="Add to compare"
                            class="icon-shuffle"
                          ></span>
                        </a>
                      </li>
                      <li>
                        <a
                          class="action"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#quick-view"
                        >
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="Quick view"
                            class="icon-magnifier"
                          ></span>
                        </a>
                      </li>
                    </ul>
                    <!-- product links end-->
                  </div>
                  <div class="media-body ps-md-4">
                    <div class="product-desc py-0 px-0">
                      <h3 class="title">
                        <a href="shop-grid-4-column"
                          >New Balance Fresh Cream Kaymin from new zeland</a
                        >
                      </h3>
                      <div class="star-rating mb-10">
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star de-selected"></span>
                      </div>
                      <span class="product-price">$11.90</span>
                    </div>
                    <ul class="product-list-des">
                      <li>
                        Block out the haters with the fresh adidas® Originals
                        Kaval Windbreaker Face Cream.
                      </li>
                      <li>Part of the Kaval Collection.</li>
                      <li>
                        Regular fit is eased, but not sloppy, and perfect for
                        any activity.
                      </li>
                      <li>
                        Plain-woven Face Cream specifically constructed for
                        freedom of movement.
                      </li>
                    </ul>
                    <div class="availability-list mb-20">
                      <p>Availability: <span>1200 In Stock</span></p>
                    </div>
                    <button
                      class="btn btn-dark btn--xl"
                      data-bs-toggle="modal"
                      data-bs-target="#add-to-cart"
                    >
                      Add to cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- product-list End -->
          </div>
          <div class="col-12 mb-30">
            <div class="card product-card">
              <div class="card-body">
                <div class="media flex-column flex-md-row">
                  <div class="product-thumbnail position-relative">
                    <span class="badge badge-danger top-right">featured</span>
                    <a href="single-product">
                      <img
                        class="first-img"
                        src="assets/img/product/3.png"
                        alt="thumbnail"
                      />
                    </a>
                    <!-- product links -->
                    <ul class="actions d-flex justify-content-center">
                      <li>
                        <a class="action" href="wishlist">
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="add to wishlist"
                            class="icon-heart"
                          >
                          </span>
                        </a>
                      </li>
                      <li>
                        <a
                          class="action"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#compare"
                        >
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="Add to compare"
                            class="icon-shuffle"
                          ></span>
                        </a>
                      </li>
                      <li>
                        <a
                          class="action"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#quick-view"
                        >
                          <span
                            data-bs-toggle="tooltip"
                            data-placement="bottom"
                            title="Quick view"
                            class="icon-magnifier"
                          ></span>
                        </a>
                      </li>
                    </ul>
                    <!-- product links end-->
                  </div>
                  <div class="media-body ps-md-4">
                    <div class="product-desc py-0 px-0">
                      <h3 class="title">
                        <a href="shop-grid-4-column"
                          >orginal Kaval Windbreaker Winter cream</a
                        >
                      </h3>
                      <div class="star-rating mb-10">
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star"></span>
                        <span class="ion-ios-star de-selected"></span>
                      </div>
                      <span class="product-price">$11.90</span>
                    </div>
                    <ul class="product-list-des">
                      <li>
                        Block out the haters with the fresh adidas® Originals
                        Kaval Windbreaker Face Cream.
                      </li>
                      <li>Part of the Kaval Collection.</li>
                      <li>
                        Regular fit is eased, but not sloppy, and perfect for
                        any activity.
                      </li>
                      <li>
                        Plain-woven Face Cream specifically constructed for
                        freedom of movement.
                      </li>
                    </ul>
                    <div class="availability-list mb-20">
                      <p>Availability: <span>1200 In Stock</span></p>
                    </div>
                    <button
                      class="btn btn-dark btn--xl"
                      data-bs-toggle="modal"
                      data-bs-target="#add-to-cart"
                    >
                      Add to cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <nav class="pagination-section mt-30">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#"><i class="ion-chevron-left"></i></a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item">
              <a class="page-link" href="#"
                ><i class="ion-chevron-right"></i
              ></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- product tab end -->
